* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

#root {
    max-width: 500px;
}

header {
    margin: 50px;
}

#langDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 150px;
}

#langDivRow1, #langDivRow2 {
    display: flex;
    gap: 10px;
}

.langCards {
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 10px;
    position: relative;
}

.langCards.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 0.85rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
}

.wordStage {
    display: flex;
    justify-content: center;
}

.letterBox {
    height: 30px;
    width: 30px;
    background-color: rgba(229, 232, 232, 0.543);
    margin: 10px;
    border-bottom: 2px solid white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #333;
    color: white;
    border: none;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 3px;
}

button.correct {
    background-color: green;
}

button.wrong {
    background-color: red;
}

#resultCard {
    position: absolute;
    height: 60px;
    width: 300px;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    background-color: green;
}

#resultCard > h3,
#resultCard > p {
    background-color: green;
    margin: 0;
    padding: 0;
}

#newGameBtn {
    background-color: rgb(67, 152, 185);
    height: auto;
    width: auto;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    padding: 10px 20px;
}

#btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}